# {{ msg("view.agent_resume.title") }}

{{ msg("view.agent_resume.intro") }}

## {{ msg("view.agent_resume.resume_state") }}

| {{ msg("table.field") }} | {{ msg("table.value") }} |
| --- | --- |
| `resume_status` | {{ resume_status }} |
| `is_bootstrap` | {{ is_bootstrap }} |
| `current_stage` | {{ current_stage }} |
| `stage_gate` | {{ stage_gate }} |
| `active_comment_id` | {{ active_comment_id }} |

## {{ msg("language.section_title") }}

| {{ msg("table.field") }} | {{ msg("table.value") }} |
| --- | --- |
| `{{ msg("language.document_language") }}` | {{ language_context.document_language }} |
| `{{ msg("language.working_language") }}` | {{ language_context.working_language }} |
| `{{ msg("language.manuscript_detected_language") }}` | {{ language_context.manuscript_detected_language or msg("common.none") }} |
| `{{ msg("language.review_comments_detected_language") }}` | {{ language_context.review_comments_detected_language or msg("common.none") }} |
| `{{ msg("language.prompt_detected_language") }}` | {{ language_context.prompt_detected_language or msg("common.none") }} |
| `{{ msg("language.document_language_source") }}` | {{ language_context.document_language_source or msg("common.none") }} |
| `{{ msg("language.working_language_source") }}` | {{ language_context.working_language_source or msg("common.none") }} |
| `{{ msg("language.languages_confirmed") }}` | {{ language_context.languages_confirmed }} |

## {{ msg("view.agent_resume.what_to_understand_first") }}

- {{ msg("view.agent_resume.current_state_summary") }}: {{ current_state_summary }}
- {{ msg("view.agent_resume.current_objective") }}: {{ current_objective }}
- {{ msg("view.agent_resume.current_focus") }}: {{ current_focus }}
- {{ msg("view.agent_resume.why_paused") }}: {{ why_paused }}
- {{ msg("view.agent_resume.next_operator_action") }}: {{ next_operator_action }}
- {{ msg("view.agent_resume.next_action_anchor") }}: {{ next_action_anchor }}

## {{ msg("view.agent_resume.open_loops") }}

{{ msg("view.agent_resume.open_loops_intro") }}

| {{ msg("table.order") }} | {{ msg("table.message") }} |
| --- | --- |
{% for item in open_loops -%}
| {{ loop.index }} | {{ item }} |
{% else -%}
|  |  |
{% endfor %}

## {{ msg("view.agent_resume.recent_decisions") }}

{{ msg("view.agent_resume.recent_decisions_intro") }}

| {{ msg("table.order") }} | {{ msg("table.message") }} |
| --- | --- |
{% for item in recent_decisions -%}
| {{ loop.index }} | {{ item }} |
{% else -%}
|  |  |
{% endfor %}

## {{ msg("view.agent_resume.must_not_forget") }}

{{ msg("view.agent_resume.must_not_forget_intro") }}

| {{ msg("table.order") }} | {{ msg("table.message") }} |
| --- | --- |
{% for item in must_not_forget -%}
| {{ loop.index }} | {{ item }} |
{% else -%}
|  |  |
{% endfor %}

## {{ msg("view.agent_resume.resume_read_order") }}

{{ msg("view.agent_resume.resume_read_order_intro") }}

| {{ msg("table.step") }} | {{ msg("table.read_this") }} |
| --- | --- |
{% for item in resume_read_order -%}
| {{ loop.index }} | {{ item }} |
{% endfor %}

## {{ msg("view.agent_resume.runtime_digest") }}

{{ msg("view.agent_resume.runtime_digest_intro") }}

{{ runtime_digest }}
