# {{ msg("view.response_outline.title") }}

{{ msg("view.response_outline.intro") }}

{% for group in reviewer_groups -%}
## {{ group.heading }}

{% for thread in group.threads -%}
### {{ thread.thread_id }}

- {{ msg("view.response_outline.original_thread") }}: {{ thread.original_text }}
- {{ msg("view.response_outline.normalized_summary") }}: {{ thread.normalized_summary }}
- {{ msg("view.response_outline.final_row_ready") }}: {{ thread.row_ready }}

| {{ msg("view.response_outline.response_order") }} | {{ msg("view.response_outline.role") }} | `comment_id` | {{ msg("view.atomic_comments.canonical_summary") }} | {{ msg("view.response_outline.selected_copy_summary") }} |
| --- | --- | --- | --- | --- |
{% for item in thread.resolutions -%}
| {{ item.response_order }} | {{ item.response_role }} | {{ item.comment_id }} | {{ item.canonical_summary }} | {{ item.selected_copy_summary }} |
{% else -%}
|  |  |  |  |  |
{% endfor %}

{% if thread.row_ready == "yes" -%}
#### {{ msg("view.response_outline.final_row_preview") }}

| {{ msg("view.response_table_preview.column.original_comment", target="document") }} | {{ msg("view.response_table_preview.column.modification_scope", target="document") }} | {{ msg("view.response_table_preview.column.key_revision_excerpt", target="document") }} | {{ msg("view.response_table_preview.column.response_explanation", target="document") }} |
| --- | --- | --- | --- |
| {{ thread.final_row.original_comment }} | {{ thread.final_row.modification_scope }} | {{ thread.final_row.key_revision_excerpt }} | {{ thread.final_row.response_explanation }} |
{% endif %}

{% endfor -%}
{% else -%}
## {{ msg("view.response_outline.no_threads") }}

{{ msg("view.response_outline.no_outline_data") }}
{% endfor %}
