# {{ msg("view.response_table_preview.title", target="document") }}

{{ msg("view.response_table_preview.intro", target="document") }}

{% for group in reviewer_groups -%}
## {{ group.heading }}

| {{ msg("view.response_table_preview.column.original_comment", target="document") }} | {{ msg("view.response_table_preview.column.modification_scope", target="document") }} | {{ msg("view.response_table_preview.column.key_revision_excerpt", target="document") }} | {{ msg("view.response_table_preview.column.response_explanation", target="document") }} |
| --- | --- | --- | --- |
{% for row in group.rows -%}
| {{ row.original_comment }} | {{ row.modification_scope }} | {{ row.key_revision_excerpt }} | {{ row.response_explanation }} |
{% else -%}
|  |  |  |  |
{% endfor %}

{% else -%}
## {{ msg("view.response_table_preview.no_rows", target="document") }}

{{ msg("view.response_table_preview.no_row_data", target="document") }}
{% endfor %}
