# {{ msg("view.thread_mapping.title") }}

{{ msg("view.thread_mapping.intro") }}

{% for thread in threads -%}
## {{ thread.thread_id }} ({{ thread.reviewer_id }})

- {{ msg("view.thread_mapping.normalized_summary") }}: {{ thread.normalized_summary }}
- {{ msg("view.thread_mapping.original_text") }}: {{ thread.original_text }}

| {{ msg("view.thread_mapping.link_order") }} | `comment_id` | {{ msg("view.atomic_comments.canonical_summary") }} | {{ msg("view.thread_mapping.source_span") }} | {{ msg("view.thread_mapping.note") }} |
| --- | --- | --- | --- | --- |
{% for item in thread.linked_items -%}
| {{ item.link_order }} | {{ item.comment_id }} | {{ item.canonical_summary }} | {{ item.excerpt_text or '' }} | {{ item.note or '' }} |
{% else -%}
|  |  |  |  |  |
{% endfor %}

{% else -%}
## {{ msg("view.thread_mapping.no_threads") }}

{{ msg("view.thread_mapping.no_mapping_data") }}
{% endfor %}
